$white: rgb(250, 250, 250);

$node-main: rgb(193, 231, 215);
$node-main-border: rgb(48, 163, 115);

$shadow: rgb(206, 206, 206);

$menu-item-1: rgb(28, 107, 74);
$menu-item-2: rgb(151, 77, 77);
$menu-item-3: rgb(67, 66, 122);
$menu-item-4: rgb(109, 49, 96);
